<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">

<head>

    <title>Single Product</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'web/css/tiny-slider.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web/assets/css/main.css' %}">
</head>

<body>
    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="{% url 'Home_Page' %}">Furniture<span> shop</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li><a class="nav-link" href="{% url 'Home_Page' %}">Home</a></li>
                    <li><a class="nav-link" href="{% url 'product_page' %}">Product</a></li>
                    <li><a class="nav-link" href="{% url 'about_page' %}">About us</a></li>
                    <li><a class="nav-link" href="{% url 'services_page' %}">Services</a></li>
                    <li><a class="nav-link" href="{% url 'blog_page' %}">Blog</a></li>
                    <li><a class="nav-link" href="{% url 'contact_page' %}">Contact us</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="{% url 'Cart_Page' %}"><img src="{% static 'web/images/cart.svg' %}">
                            <sup style="color: white;">{{count}}</sup></a></li>
                    {% if request.session.Name %}
                    <li><a class="nav-link" href="{% url 'User_Sign_out' %}"><img
                                src="{% static 'web/images/user.svg' %}"> {{request.session.Name}} <i
                                style="color: red; font-style:normal;">/LogOut</i> </a></li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'Sign_in' %}"><img
                                src="{% static 'web/images/user.svg' %}"></a></li>
                    {% endif %}

                </ul>
            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Single Product</h1>
                    </div>
                </div>
                <div class="col-lg-7">

                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        <figure class="border-radius-10">
                                            <img src="{{sing.Product_Image1.url}}" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="{{sing.Product_Image2.url}}" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="{{sing.Product_Image3.url}}" alt="product image">
                                        </figure>

                                    </div>

                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <div><img src="{{sing.Product_Image2.url}}" alt="product image"></div>
                                        <div><img src="{{sing.Product_Image3.url}}" alt="product image"></div>
                                        <div><img src="{{sing.Product_Image1.url}}" alt="product image"></div>
                                        <div><img src="{{sing.Product_Image2.url}}" alt="product image"></div>
                                        <div><img src="{{sing.Product_Image3.url}}" alt="product image"></div>
                                        <div><img src="{{sing.Product_Image1.url}}" alt="product image"></div>
                                        <div><img src="{{sing.Product_Image2.url}}" alt="product image"></div>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">{{sing.Product_Name}}</h2>
                                    <div class="product-detail-rating">

                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">Rs.{{sing.MRP}}</span></ins>
                                            <!-- <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                                <span class="save-price  font-md color3 ml-15">25% Off</span> -->
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>

                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class=""></i>Country of Origin :
                                                {{sing.Country_of_Origin}}</li>
                                            <li class="mb-10"><i class=""></i>Manufactured By : {{sing.Manufactured_By}}
                                            </li>
                                            <!-- <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li> -->
                                        </ul>
                                    </div>

                                    <div class="bt-1 border-color-1 mt-30 mb-30">
                                        <div class="detail-extralink">

                                            <form action="{% url 'Save_Cart' %}" method="post"
                                                enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div style="width: 160px;" class="product-extra-link2">
                                                    <input type="number" id="quantity" min="1" name="quantity_"><br><br>
                                                    <input type="hidden" name="price_" id="price" placeholder="Price"
                                                        value="{{sing.MRP}}">
                                                    <input type="text" name="total_" id="total"
                                                        placeholder="Total Price" value="{{sing.MRP}}"> <br><br>
                                                    <input type="hidden" name="user_name_"
                                                        value="{{request.session.Name}}">
                                                    <input type="hidden" name="product_name_"
                                                        value="{{sing.Product_Name}}">
                                                    <button type="submit" class="btn" style="padding: 10px;">Add to
                                                        cart</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <a href="#" ><button type="submit" class="btn" style="padding: 10px;">BuyNow</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 m-auto entry-main-content">
                                <h2 class="section-title style-1 mb-30">Description</h2>
                                <div class="description mb-50">
                                    <p>{{sing.Discription}}</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Preloader Start -->
    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">

            <div class="sofa-img">
                <img src="{% static 'web/images/sofa.png' %}" alt="Image" class="img-fluid">
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="subscription-form">
                        <h3 class="d-flex align-items-center"><span class="me-1"><img
                                    src="{% static 'web/images/envelope-outline.svg' %}" alt="Image"
                                    class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                        <form action="#" class="row g-3">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                            <div class="col-auto">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary">
                                    <span class="fa fa-paper-plane"></span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furniture <span>shop</span></a>
                    </div>
                    <p class="mb-4">Presenting our new collection fruniture an experience that's truly exceptional. From
                        delicate weaves to bold designs, each piece invites you to savour the beauty around you</p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'about_page' %}">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="{% url 'contact_page' %}">Contact us</a></li>

                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Knowledge base</a></li>
                                <li><a href="#">Live chat</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Our team</a></li>
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                {% for f in cat_d %}
                                <li><a
                                        href="{% url 'product_filtered' cat_name=f.Category_name %}">{{f.Category_name}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                            Designed with love by <a href="{% url 'Home_Page' %}">Furniture shop</a> Distributed By <a
                                hreff="https://themewagon.com">ThemeWagon</a>
                            <!-- License information: https://untree.co/license/ -->
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section -->


    <!-- Vendor JS-->
    <script src="{% static 'web/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'web/assets/js/main.js' %}"></script>
    <script src="{% static 'web/assets/js/shop.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#quantity").change(function () {
                x = document.getElementById("quantity").value;
                y = document.getElementById("price").value;
                result = x * y;
                document.getElementById("total").value = result;
            })
        })

    </script>
</body>

</html>