{% extends 'index.html' %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="table-responsive pt-3">
        <table class="table table-striped project-orders-table">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Message</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for i in con %}
            <tr>
              <td>{{i.First_name |upper}}</td>
              <td>{{i.Last_name |upper}}</td>
              <td>{{i.Email}}</td>
              <td>{{i.Message |upper}}</td>
              <td>
                <div class="d-flex align-items-center">
                  <!-- <a href="">
                    <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3">
                      Edit
                      <i class="typcn typcn-edit btn-icon-append"></i>
                    </button>
                  </a> -->
                  <a href="{% url 'contact_delete' del_id=i.id %}">
                    <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                      Delete
                      <i class="typcn typcn-delete-outline btn-icon-append"></i>
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}