{% extends 'index.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="table-responsive pt-3">
        <table class="table table-striped project-orders-table">
          <thead>
            <tr>
              <th>Product Category</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>MRP</th>
              <th>Discription</th>
              <th>Country of Origin</th>
              <th>Manufactured By</th>
              <th>P Image 1</th>
              <th>P Image 2</th>
              <th>P Image 3</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for i in pass %}
            <tr>
              <td>{{i.Product_Category|upper}}</td>
              <td>{{i.Product_Name |upper}}</td>
              <td>{{i.Quantity}}</td>
              <td>{{i.MRP}}</td>
              <td>{{i.Discription |upper}}</td>
              <td>{{i.Country_of_Origin |upper}}</td>
              <td>{{i.Manufactured_By |upper}}</td>
              <td><img src="{{i.Product_Image1.url}}" style="height: 70px; width: 70px;"></td>
              <td><img src="{{i.Product_Image2.url}}" style="height: 70px; width: 70px;"></td>
              <td><img src="{{i.Product_Image3.url}}" style="height: 70px; width: 70px;"></td>

              <td>
                <div class="d-flex align-items-center">
                  <a href="{% url 'edit_product' edit_id=i.id %}">
                    <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3">
                      Edit
                      <i class="typcn typcn-edit btn-icon-append"></i>
                    </button>
                  </a>
                  <a href="{% url 'Delete_product' del_id=i.id %}">
                    <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                      Delete
                      <i class="typcn typcn-delete-outline btn-icon-append"></i>
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
      {% for i in messages %}
        {% if i.tags == 'success' %}
         <script>
            swal('{{i}}','','success');
         </script>
         {% elif i.tags == 'error' %}
         <script>
            swal('{{i}}','','error');
         </script>
         {% elif i.tags == 'warning' %}
         <script>
            swal('{{i}}','','warning');
         </script>
         {% else %}
         <script>
            swal('{{i}}','','info');
         </script>
        {% endif %}
      {% endfor %}
    {% endif %}
    
{% endblock %}