<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{% url 'upload_product' upd_id=key.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Product</h4>
                    <p class="card-description">
                    </p>
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleSelectGender">Product Category</label>
                              <select class="form-control" id="exampleSelectGender" name="p_category_">
                                <option>{{key.Product_Category}}</option>
                                {% for i in pass %}
                                <option>{{i.Category_name}}</option>
                                {% endfor %}
                              </select>
                            </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="p_name_" value="{{key.Product_Name}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Quantity</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Quantity" name="quantity_"  value="{{key.Quantity}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">MRP</label>
                        <input type="number" class="form-control" id="exampleInputPassword4" placeholder="MRP" name="mrp_" value="{{key.MRP}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Discription</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="discription_">{{key.Discription}}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">Country of Origin</label>
                        <input type="text" class="form-control" name="c_origin_" id="exampleInputCity1" placeholder="Country of origin" value="{{key.Country_of_Origin}}">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">Manufactured By</label>
                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Manufactured By" name="manufactured_by_" value="{{key.Manufactured_By}}">
                      </div>
                      <div class="form-group">
                        <label>Product Image 1</label>
                        <div class="input-group col-xs-12">
                            <img src="{{key.Product_Image1.url}}" style="height: 70px; width: 70px;">
                          <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="p_image1_">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Product Image 2</label>
                        <div class="input-group col-xs-12">
                            <img src="{{key.Product_Image2.url}}" style="height: 70px; width: 70px;">
                          <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="p_image2_">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Product Image 3</label>
                        <div class="input-group col-xs-12">
                            <img src="{{key.Product_Image3.url}}" style="height: 70px; width: 70px;">
                          <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="p_image3_">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Upload</button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
        </form>
    </div>
</body>
</html>
{% endblock %}